<h1>Edit a Workout</h1>

<form id="newWorkout">
	<fieldset style="margin-bottom: 15px">
	{{#each this.results}}
		<input id="workoutID" type="hidden" name="id" value="{{this.id}}">

		<label for="workoutName">Name: </label>
		<input value="{{this.name}}" type="text" name="name" id="workoutName">

		<label for="workoutReps">Reps: </label> 
		<input value="{{this.reps}}" type="number" name="workoutReps" id="workoutReps"> <br>

		<label for="workoutWeight">Weight: </label>
		<input value="{{this.weight}}"type="number" name="workoutWeight" id="workoutWeight">
	{{/each}}

		<label for="workoutDate">Date: </label>
		<input value="{{this.date}}"maxlength="8" type="date" name="workoutDate" id="workoutDate"> <br>

		<input id="lbsCheck" type="checkbox" name="workoutLbs" checked="{{#if this.checked}}">Lbs? <br>
		<input id="editWorkoutBtn" type="button" name="Add Workout" value="Add Workout">
	</fieldset>
</form>


